
<div class="footer-basic">
    <footer>            
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
            <li class="list-inline-item"><a href="#">Facebook</a></li>
                <li class="list-inline-item"><a href="#">Youtube</a></li>
            <li class="list-inline-item"><a href="#">Whatsapp</a></li>
        </ul>
        <p class="copyright">Random Lines Since 2021</p>
        <p class="copyright">Designed by: Love Dazzell © All Rights Reserved</p>
    </footer>
</div>
